@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  transition: all 0.5 ease-in-out;
}

.dark-theme {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #858585; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e; 
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.bg-gradient-cusotom {
  height: 700px;
  width: 60%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 10%;
  filter: blur(100px);
  background: radial-gradient(
    circle,
    rgb(247, 196, 218) 0%,
    rgb(172, 203, 238) 100%
  );
}

.custom-width {
  @apply md:w-11/12 mx-auto overflow-x-hidden;
}

.input-style {
  @apply rounded-full py-1 my-3 pl-3 bg-transparent border;
  @apply focus:outline-none;
}
